.contacto {
  max-width: 600px;
  margin: 2rem auto;
  background: #1c1c1c;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 6px 18px rgba(0,0,0,0.6);
  color: white;
  text-align: center;
  height: 60vh;
}

.contacto h2 {
  color: #00ff88;
  margin-bottom: 0.5rem;
}
